server:
  port: 8080

spring:
  application:
    name: gateway-service

  web:
    resources:
      static-locations: classpath:/static/

  cloud:
    gateway:
      routes:
        - id: auth-route
          uri: ${AUTH_SERVICE_URL}
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: usuarios-route
          uri: ${AUTH_SERVICE_URL}
          predicates:
            - Path=/api/usuarios/**
          filters:
            - StripPrefix=1

        - id: roles-route
          uri: ${ROLES_SERVICE_URL}
          predicates:
            - Path=/api/roles/**
          filters:
            - StripPrefix=1

jwt:
  secret: ${JWT_SECRET}