server:
  port: 8080

spring:
  application:
    name: gateway-service

  # Agregar configuración de recursos estáticos
  web:
    resources:
      static-locations: classpath:/static/

  cloud:
    gateway:
      routes:
        - id: auth-route
          uri: http://localhost:8082
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: usuarios-route
          uri: http://localhost:8082
          predicates:
            - Path=/api/usuarios/**
          filters:
            - StripPrefix=1

        - id: roles-route
          uri: http://localhost:8081
          predicates:
            - Path=/api/roles/**
          filters:
            - StripPrefix=1

jwt:
  secret: mi_secreto_jwt_super_seguro_2025